In [7]:
# Return values

def get_formatted_name(first_name,last_name):
    """Return a formatted fullname"""
    full_name=f"{first_name} {last_name}"
    return full_name.title()
get_formatted_name('karthik','vadlamudi')

'Karthik Vadlamudi'

In [16]:
#Class

class name:
    def createname(self,name):
        self.name=name
    def displayname(self):
        return self.name
    def saying(self):
        print(f"Hello {self.name.title()}")
    
    
first = name()
first.createname('karthik')
first.displayname()

'karthik'

In [19]:
first.displayname()

'karthik'

In [17]:
first.saying()

Hello Karthik

In [44]:
class college:
    
    student1 = 'Robert'
    student2 = 'Chris'
    
class group:
    pass

cobj= college()
    
cobj.student1

'Robert'

In [52]:
class college:
    
    student1 = 'Robert'
    student2 = 'Chris'
    
class group:
    
    student3 = 'Martin'

grp= group()
    
grp.student3

'Martin'

In [54]:
grp = group()
grp.student1

AttributeError: 'group' object has no attribute 'student1'

In [59]:
class college:
    
    student1 = 'Robert'
    student2 = 'Chris'
    
class group(college):
    pass

grp=group()
grp.student1

'Robert'

In [62]:
class college:
    
    student1 = 'Robert'
    student2 = 'Chris'
    
class group(college):
    
    student3 = 'Martin'

grp= group()
    
grp.student1

'Robert'

In [63]:
#Overwriting the variables

class college:
    
    student1 = 'Robert'
    student2 = 'Chris'
    student3 = 'Vin Diesel'
    
    
class group(college):
    
    student3 = 'Martin'

grp= group()
    
grp.student3

'Martin'

In [64]:
col = college()
col.student3

'Vin Diesel'

In [65]:
grp = group()
grp.student3

'Martin'

In [66]:
#Using Multiple parent classes


class college1:
    student1='Karthik'

class college2:
    student2='Raja'

class group(college1,college2):
    pass

grp = group()
grp.student1

'Karthik'

In [67]:
grp.student2

'Raja'