In [5]:
#organizing the list

names =['Avinash','Bunty','Bala','vignesh','Jagan']
print(names)

['Avinash', 'Bunty', 'Bala', 'vignesh', 'Jagan']

In [8]:
names.sort()
print(names)

['Avinash', 'Bala', 'Bunty', 'Jagan', 'vignesh']

In [9]:
print(names)

['Avinash', 'Bala', 'Bunty', 'Jagan', 'vignesh']

In [10]:
#reverse ordering

names.sort(reverse=True)
print(names)

['vignesh', 'Jagan', 'Bunty', 'Bala', 'Avinash']

In [11]:
print(sorted(names))

['Avinash', 'Bala', 'Bunty', 'Jagan', 'vignesh']

In [13]:
#looping

students = ('Vishnu', 'Vinay','Krish','Raghu','Vivek')
print(f"All the best,{students[0]}")

All the best,Vishnu

In [17]:
students = ('Vishnu', 'Vinay','Krish','Raghu','Vivek')

for message in students:
    print(f"All the best,{students}")

All the best,('Vishnu', 'Vinay', 'Krish', 'Raghu', 'Vivek')
All the best,('Vishnu', 'Vinay', 'Krish', 'Raghu', 'Vivek')
All the best,('Vishnu', 'Vinay', 'Krish', 'Raghu', 'Vivek')
All the best,('Vishnu', 'Vinay', 'Krish', 'Raghu', 'Vivek')
All the best,('Vishnu', 'Vinay', 'Krish', 'Raghu', 'Vivek')

In [19]:

for message in students:
    print(message)

Vishnu
Vinay
Krish
Raghu
Vivek

In [20]:
print(f"All the Best,{message}")

All the Best,Vivek

In [34]:
for message in students:
    print(f"All the Best,(message)")

All the Best,(message)
All the Best,(message)
All the Best,(message)
All the Best,(message)
All the Best,(message)

In [66]:
students = ['Vishnu', 'Vinay','Arish','Raghu','Vivek','Priyansh']

students.sort()
for message in students:

    print(f"\t\n{message},All the Best,{len(message)}")

Arish,All the Best,5

Priyansh,All the Best,8

Raghu,All the Best,5

Vinay,All the Best,5

Vishnu,All the Best,6

Vivek,All the Best,5

In [49]:
len(students)

6